<h1>Login:</h1>
<%=form_tag :action => :login do%>
<p>
	 <label for ='usuario_email'>Nombre<label>
     <br/>
     <%= text_field 'usuario', 'email'%>

 <br/>
     <label for ='usuario_password'>Password<label>
     <br/>
     <%= password_field 'usuario', 'password'%>
     <br/>
     
  
     <%= submit_tag 'Login'%>

<%end%>