<%=form_tag({:action => :login}, :multipart => true) do%>
 <div class="row">
          <div class="large-3 text-left columns ">
                <h3>Login</h3>
                    <%= text_field 'usuario', 'email', :placeholder => "Correo-e" %>
                    <%= password_field 'usuario', 'password', :placeholder => "Password" %>
                     <%= submit_tag 'Login', :class => "button [radius round]" %>
          </div>
 </div>            
  <%end%>
