<h1>Reg&iacute;strate:</h1>
<%=form_tag :action => :crear_usuario do%>
<p>
	 <label for ='usuario_nombre'>Nombre<label>
     <br/>
     <%= text_field 'usuario', 'nombre'%>

 <br/>
     <label for ='usuario_email'>Email<label>
     <br/>
     <%= text_area 'usuario', 'email'%>
     <br/>
     
    

     <%= submit_tag 'Guardar'%>

<%end%>